<template>
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ modalTitle }}</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            @click="$emit('close', false)"
          ></button>
        </div>
        <div class="modal-body">
          <p>{{ modalBody }}</p>
          <slot />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            @click="$emit('close', false)"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="$emit('close', true)"
          >
            {{ confirmText ? confirmText : "Confirm" }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    modalTitle: {
      type: String,
      required: true,
    },
    modalBody: {
      type: String,
      required: true,
    },
    confirmText: {
      type: String,
      default: "Confirm",
    },
  },
};
</script>

<style>
.modal {
  display: block;
  overflow: scroll;
}
</style>