<template>
  <div>
    <div class="row mt-2">
      <div class="col">
        <button
          type="button"
          :class="{
            btn: true,
            'prev-btn': true,
            'disabled-btn': questionIndex === 0,
          }"
          :disabled="questionIndex === 0"
          @click="navigateTo(questionIndex - 1)"
        >
          Previous
        </button>
      </div>
      <div class="col">
        <button
          type="button"
          :class="{
            btn: true,
            'next-btn': true,
            'disabled-btn': questionIndex >= dots.length - 1,
          }"
          :disabled="questionIndex >= dots.length - 1"
          @click="navigateTo(questionIndex + 1)"
        >
          Next
        </button>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <div
          :class="{
            dot: true,
            'incorrect-dot':
              dots[index].correct_answer !== answered[index] &&
              answered[index] !== undefined,
            'correct-dot':
              dots[index].correct_answer === answered[index] &&
              answered[index] !== undefined,
          }"
          v-for="(question, index) in dots"
          :key="index"
          @click="navigateTo(index)"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    dots: {
      type: Array,
      required: true,
    },
    questionIndex: {
      type: Number,
      required: true,
    },
    answered: {
      type: Object,
    },
  },
  methods: {
    navigateTo(index) {
      this.$emit("navigate", index);
    },
  },
};
</script>

<style>
.dot {
  width: 20px;
  height: 20px;
  border-radius: 40px;
  background-color: white;
  display: inline-block;
  margin: 2.5px;
  cursor: pointer;
}

.incorrect-dot {
  background-color: #ff5555;
}
.correct-dot {
  background-color: #5bdb80;
}

.answer-btn,
.next-btn,
.prev-btn {
  width: 100%;
  padding: 0.5em;
  border-radius: 20px;
  font-size: 20px;
}

.disabled-btn {
  opacity: 0.5;
}
</style>