<template>
  <div>
    <div class="col-md" v-for="option in options" :key="option">
      <div class="row mt-2 pb-3 gy-4">
        <button
          v-html="option"
          type="button"
          @click="optionClick(option)"
          :class="{
            btn: true,
            'answer-btn': true,
            'correct-answer':
              correctAnswer === option && answered !== undefined,
            'incorrect-answer':
              correctAnswer !== option && answered !== undefined,
            'selected-answer': answered === option,
          }"
        >
          {{ option }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    options: {
      type: Array,
      required: true,
    },
    correctAnswer: {
      type: String,
      required: true,
    },
    answered: {
      type: String,
    },
  },
  methods: {
    optionClick(option) {
      this.$emit("clicked", option);
    },
  },
};
</script>
<style scoped>
.correct-answer,
.answer-btn.correct-answer:hover {
  background-color: #5bdb80;
  color: white;
}

.selected-answer {
  border: 5px solid white;
}

.incorrect-answer,
.answer-btn.incorrect-answer:hover {
  background-color: #ff5555;
  color: white;
}
</style>