<template>
  <div>
    <div class="row">
      <div class="col quiz-title">Question {{ questionIndex + 1 }}</div>
    </div>
    <div class="row mt-2">
      <div class="col quiz-question" v-html="question">
        {{ question }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    question: {
      type: String,
      required: true,
    },
    questionIndex: {
      type: Number,
      required: true,
    },
  },
};
</script>

<style>
.quiz-question {
  font-size: 25px;
  color: white;
}

.quiz-title {
  color: white;
  font-size: 30px;
}
</style>