<template>
  <div id="result">
    <div v-for="(triviaResponse, index) in triviaResponses" :key="index">
      <div class="question">
        <strong>{{ index + 1 + ". " }}</strong>
        <strong v-html="triviaResponse.question" />
      </div>
      <div>
        <div v-html="triviaResponse.correct_answer" class="green-text" />
        <div
          v-if="selectedOption[index] !== triviaResponse.correct_answer"
          v-html="
            selectedOption[index] ? selectedOption[index] : 'Not answered'
          "
          class="red-text"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    triviaResponses: {
      type: Array,
      required: true,
    },
    selectedOption: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style scoped>
#result strong,
#result span,
#result {
  text-align: left;
}
.question {
  margin-top: 1em;
}
.red-text {
  color: red;
}
.green-text {
  color: green;
}
</style>