<template>
  <div class="container quiz-start-game">
    <div class="row">
      <div class="col trivia-title">
        <h1>Trivia game</h1>
      </div>
      <div class="row mt-4">
        <div class="col"><h5>Select category:</h5></div>
      </div>
      <div class="row mt-3" v-if="categories && categories.length > 0">
        <div class="col">
          <select name="categories" class="categories" v-model="categoryID">
            <option
              v-for="category in categories"
              :key="category.id"
              :value="category.id"
            >
              {{ category.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <button class="btn" @click="$emit('start', categoryID)">
            Start game
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    categories: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      categoryID: 9,
    };
  },
};
</script>

<style>
.categories {
  border-radius: 100px;
  border-color: none;
  padding: 10px;
  outline: none;
}
</style>