<template>
  <div id="app">
    <div
      class="container quiz-container px-5 py-3"
      v-if="triviaResponse[questionIndex] && gameStarted"
    >
      <div class="row">
        <div class="col">
          <div class="see-result">
            <button class="btn result-btn" @click="showResult">Result</button>
          </div>
        </div>
        <div class="col">
          <div class="exit">
            <button class="btn exit-btn" @click="exitGame">X</button>
          </div>
        </div>
      </div>
      <Question
        :question="triviaResponse[questionIndex].question"
        :questionIndex="questionIndex"
      />
      <Options
        :options="options[questionIndex]"
        :correctAnswer="triviaResponse[questionIndex].correct_answer"
        :answered="selectedOption[questionIndex]"
        @clicked="optionClick"
      />
      <Navigation
        :dots="triviaResponse"
        :answered="selectedOption"
        :questionIndex="questionIndex"
        @navigate="navigateTo"
      />
    </div>
    <Start v-else :categories="categories" @start="startGame" />
    <Modal
      v-if="showModal"
      :modalTitle="modalTitle"
      :modalBody="modalBody"
      :confirmText="modalConfirmText"
      @close="closeModal"
    >
      <Result
        v-if="displayResult"
        :triviaResponses="triviaResponse"
        :selectedOption="selectedOption"
        :score="triviaScore"
      />
    </Modal>
  </div>
</template>

<script>
import Options from "@/components/Options.vue";
import Navigation from "@/components/Navigation.vue";
import Question from "@/components/Question.vue";
import Modal from "@/components/Modal.vue";
import Start from "@/components/Start.vue";
import Result from "@/components/Result.vue";

export default {
  name: "App",
  data() {
    return {
      triviaResponse: [],
      questionIndex: 0,
      triviaScore: 0,
      gameStarted: false,
      options: [],
      selectedOption: {},
      categories: [],
      categoryID: 9,
      displayResult: false,
      showModal: false,
      modalConfirmText: "",
      modalTitle: "",
      modalBody: "",
      modalComfirmAction: () => {},
    };
  },
  components: {
    Options,
    Navigation,
    Question,
    Modal,
    Start,
    Result,
  },
  created() {
    const comp = this;
    if (!this.gameStarted) {
      fetch("https://opentdb.com/api_category.php")
        .then((response) => response.json())
        .then((data) => {
          comp.categories = data.trivia_categories;
        });
    }
  },
  methods: {
    previousQuestion() {
      if (this.questionIndex > 0) {
        this.questionIndex--;
      }
    },
    nextQuestion() {
      if (this.questionIndex <= this.questionIndex) {
        this.questionIndex++;
      }
    },
    createOptions() {
      const comp = this;
      comp.triviaResponse.forEach((result) => {
        const optionsItem = result.incorrect_answers;
        optionsItem.push(result.correct_answer);
        comp.options.push(optionsItem.sort(() => Math.random() - 0.5));
      });
    },
    optionClick(option) {
      if (this.selectedOption[this.questionIndex] === undefined) {
        this.$set(this.selectedOption, this.questionIndex, option);
        if (
          this.selectedOption[this.questionIndex] ===
          this.triviaResponse[this.questionIndex].correct_answer
        ) {
          this.triviaScore += 10;
        }
      }
      if (Object.keys(this.selectedOption).length === 10) {
        this.showResult();
      }
    },
    startGame(categoryId) {
      this.categoryID = categoryId;
      const comp = this;
      this.gameStarted = true;
      if (this.triviaResponse.length <= 0) {
        fetch(
          "https://opentdb.com/api.php?amount=10&category=" +
            this.categoryID +
            "&difficulty=easy&type=multiple"
        )
          .then((response) => response.json())
          .then((data) => {
            if (data.response_code === 0) {
              comp.triviaResponse = data.results;
              comp.createOptions();
            }
          });
      } else {
        comp.createOptions();
      }
    },
    closeModal(confirm) {
      this.showModal = false;
      this.displayResult = false;
      this.modalConfirmText = "";
      if (confirm) this.modalComfirmAction();
    },
    showResult() {
      const comp = this;
      comp.createModal(
        "Finished",
        "Are you sure you want to finish the game?",
        () => {
          comp.modalConfirmText = "New Game";
          comp.displayResult = true;
          comp.createModal("Result - Score: " + this.triviaScore, "", () => {
            window.location.href = "/";
          });
        }
      );
    },
    exitGame() {
      this.createModal(
        "Exit Game",
        "Are you sure you want to exit the game?",
        () => {
          window.location.href = "/";
        }
      );
    },
    createModal(title, body, modalAction) {
      this.modalTitle = title;
      this.modalBody = body;
      this.modalComfirmAction = modalAction;
      this.showModal = true;
    },
    categoryClick(categoryId) {
      this.categoryID = categoryId;
    },
    navigateTo(index) {
      this.questionIndex = index;
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #fbab7e;
  background-image: linear-gradient(0deg, #fbab7e 0%, #f7ce68 100%);
  height: 100vh;
  align-items: center;
  display: flex;
  overflow: auto;
}

.quiz-container {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  max-width: 600px;
}

@media (max-width: 601px) {
  .quiz-container {
    border-radius: 0;
  }
}
.next-btn:hover:not(.disabled-btn),
.prev-btn:hover:not(.disabled-btn),
.answer-btn:hover:not(.disabled-btn) {
  background: #f7ce68;
  color: white;
}
.exit {
  position: relative;
  text-align: right;
  top: 0;
  right: -20px;
}
.see-result {
  position: relative;
  text-align: left;
  top: 0;
  left: -20px;
}

button.btn {
  outline: none;
  background-color: white;
  color: #fa5c00;
  background-color: white;
  border: none;
  border-color: white;
}

button.btn.exit-btn,
.result-btn {
  border-radius: 100px;
}
</style>
